<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        
        <% @newuser.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_tag(users_create_path, {multipart: true}) do %>
        <p>ユーザー名</p>
        <input name="name" value="<%= @newuser.name %>">
        
        <p>メールアドレス</p>
        <input name="email" value="<% @newuser.email %>">
        
        <p>パスワード</p>
        <input name="password" type="password" value="<%= @newuser.password%>">
        
        <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>